body {
   background: #FFFFE3;
   color: #253A52;
   padding: 25px;
   font-family: sans-serif;
   max-width: 100rem;
}

h2 {
    font-size: 3rem;
}

.profile {
    width: 280px;
    margin-inline-end: 4rem;
    border-radius: 50%;
}

#about-me {
    display:flex;
}

.project-work, .project-work:visited, .project-work:hover, .project-work:active {
  color: #1348DA;
}

.btn{
    text-decoration: none;
    color: #FFFFE3;
    background-color: #1348DA;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
}

@media (max-width: 1024px) {
    #about-me {
        flex-direction: column;
    }

    article {
        flex-direction: column;
    }
}



header {
    background-color: #FFFFE3;
    position: sticky;
    top:0;
    z-index: 999;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  padding: 0;
  display: flex;
  align-items: center;
}

header nav li {
  display: inline;
  margin-inline-start: 1rem;
  font-family: "Sora", sans-serif;
  font-weight: 700;
}

header nav li a {
  text-decoration: none;
  color: var(--primary);
}

header .controls {
  display: flex;
  justify-content: end;
  padding: 1rem 0;
}