body {
   background: #FFFFE3;
   color: #253A52;
   padding: 25px;
   font-family: sans-serif; 
}

h2 {
    font-size: 3rem;
}

img {
    width: 280px;
    margin-inline-end: 4rem;
    border-radius: 50%;
}

#about-me {
    display:flex;
}

a {
    text-decoration: none;
    color: #FFFFE3;
    background-color: #1348DA;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
}

