body {
   background: #FFFFE3;
   color: #253A52;
   padding: 25px;
   font-family: sans-serif;
   max-width: 100rem;
}

h2 {
    font-size: 3rem;
}

img {
    width: 280px;
    margin-inline-end: 4rem;
}

img .profile {
  border-radius: 50%;
}

#about-me {
    display:flex;
}

.projects {
  padding-block-end: 3rem;
}

article {
  display: flex;
  padding: 3rem 0;
}

article strong {
  font-style: italic;
  font-weight: 600;
}

article h3 {
  margin-block-start: 0;
}

article a {
  font-weight: 700;
  padding: 2rem 0;
}

article li {
  margin-block-end: 0.5rem;
}

article .article-img {
  width: 512px;
  min-width: 512px;
  margin-inline-start: 4rem;
}



.project-work, .project-work:visited, .project-work:hover, .project-work:active {
  color: #1348DA;
}

.btn{
    text-decoration: none;
    color: #FFFFE3;
    background-color: #1348DA;
    padding: 0 1rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
}

@media (max-width: 1024px) {
    #about-me {
        flex-direction: column;
    }

    article {
        flex-direction: column;
    }
}



header {
    background-color: #FFFFE3;
    position: sticky;
    top:0;
    z-index: 999;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  padding: 0;
  display: flex;
  align-items: center;
}

header nav li {
  display: inline;
  margin-inline-start: 1rem;
  font-family: "Sora", sans-serif;
  font-weight: 700;
}

header nav li a {
  text-decoration: none;
  color: #253A52;
}

header .controls {
  display: flex;
  justify-content: end;
  padding: 1rem 0;
}

#contact-me {
  padding: 1rem 0;
  text-align: center;
}

#contact-me ul {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#contact-me ul li {
  display: inline;
  margin: 0 8%;
}

#contact-me a {
  display: inline-flex;
  flex-direction: column;
  color: #253A52;
  text-decoration: none;
  font-family: "Sora", sans-serif;
  font-weight: 700;
  align-items: center;
}

#contact-me .copywright {
  margin: 3rem 0;
}

#contact-me .link-icon {
  margin-block-start: 0.5rem;
  background: #1348DA;
  color: #FFFFE3;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}